
.dashboard-graph {
  position: absolute;
  float: center;
  background: rgb(40, 90, 80);
  text-align: center;
  color:white;
  top: 6%;
  border-radius: 15px; 
  box-shadow: 10px 10px 5px #111;
 height: 80%;
  width: 65%;
  left: 10%;
}

.dashboard-values {
  position: absolute;
  float: center;
  background: rgb(0, 89, 65);
  text-align: center;
  color:white;
  top: 6%;
  background: rgb(40, 90, 60);
  box-shadow: 10px 10px 5px #111;
  height: 39%;
  width: 20%;
  right: 3%;
}

tr.values {
    text-align: center;
    width: 10px;
    float: center;
    font-size: 25px;
    top: 47%;
    font-family: 'calibri'
}

.dashboard-control {
  position: absolute;
  float: center;
  background: rgb(40, 90, 60);
  box-shadow: 10px 10px 5px #111;
  text-align: center;
  color:white;
  top: 47%;
  height: 39%;
  width: 20%;
  right: 3%;
}

.underlay-photo {
  background-image: url("../img/bg-login.jpg");
  background-size: cover;
filter: blur(10px);
  z-index: -1;
            animation: fadein 2s;
}

img.graphplaceholder {
    height: 80%;
    width: 80%;
}

