/* The sidebar menu */
.sidenav {
    height: 190%; /* Full-height: remove this if you want "auto" height */
    width: 8%; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111  ; /* GREEN */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    bottom: 520px;
}

.sidenav.icons {
    display: block;
    height: 1%;
}

li {
    list-style-type: none;
    position:relative;
    float: top;
    left: 15%;
    top: 2%;
    padding: 5%;
    opacity: 1;
    vertical-align: middle;
    background-color: #111;
    z-align: -1;
}    

p.category {
    position: relative;
    color: #888 ;
    font-size: 25px;
    background-color: #222;
    padding: 10px;
}


hr.divider {
    height: 1x;
    color: #333;
    border-color: #444;
}

#SettingsIcon {
    position: fixed;
    bottom: 1%;
    left: 0%;
    padding: 1%;
}

#SettingsIcon:hover{
    position: fixed;
    bottom: 1%;
    left: 0%;
    background-color: #555;
}

.welcomeName{
  position: fixed;
  bottom: 18%;
  width:8%;
  color: white;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    background-color: #555;
}

.sidenav a {
    padding: 10px;
    font-family: 'Calibri';

}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}